<body class="font-fira antialiased min-h-screen bg-slate-100 dark:bg-slate-900 line-numbers">
    <div class="transition-colors">
        <main class="mx-auto m-0 max-w-4xl px-4">
            <slot />
        </main>
    </div>
</body>